.mobile-about-img {
	margin: 0 auto;
	display: block;
}

.desktop-about-img {
	display: none;
}

@media screen and (min-width: 680px){
	.mobile-about-img {
		display: none;
	}
	.desktop-about-img {
		display: flex;
	}
}


input, .wpcf7-textarea {
	border: 1px solid $light-blue;
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 20rem;

}

@media screen and (min-width: 880px) {
	input, .wpcf7-textarea {
		width: 40rem;
	}
}

@media screen and (min-width: 970px) {
	input, .wpcf7-textarea {
		width: 50rem;
	}
}

@media screen and (min-width: 1050px) {
	input, .wpcf7-textarea {
		width: 60rem;
	}
}

span .wpcf7-not-valid-tip {
	color: $dark-blue;
}

div .wpcf7-validation-errors {
	border: 2px solid $dark-blue;
	color: $dark-blue;
	margin-bottom: 1rem;
}

.wpcf7-submit {
	background-color: $dark-blue;
	color: $white;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: none;
	transition: 0.2s;
	justify-content: center;
	margin-left: 1rem;
}

.wpcf7-submit:hover {
	background-color: $light-blue;
	transition: 0.4s;

}