
.navbar-nav a {
	color: #91B3BC;
	margin-right: 1rem;
}
.navbar-nav li{
	font-size: 1.2rem;
}

.navbar {
	background-color: #2B4251;
}

.navbar-nav a:hover {
	color: #f0f0f0;
	text-decoration: none;
}
