html {
	scroll-behavior: smooth;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

.text-light{}

.text-dark {}

p {}

a {
	text-decoration: none;
}

.primary {

}

.bg-primary {

}

.bg-secondary {

}

.secondary {

}

.bg-tertiary {

}

.tertiary {

}

.section-title {
	margin-bottom: 1.5rem;
}