* {
	border-radius: 0 !important;
}

html {
	scroll-behavior: smooth;
}

$light-blue: #91B3BC;
$dark-blue: #5B7D87;
$purple: #45415E;
$grey: #2B4251;
$black: #2E323C;
$white: #f0f0f0;

h1 {
color: $purple;
font-family: Amiko, Helvetica, sans-serif;
font-weight: bold;
}

h2 {
color: $dark-blue;
font-family: Amiko, Helvetica, sans-serif;
font-weight: bold;
}

h3 {
color: $grey;
font-family: Amiko, Helvetica, sans-serif;
font-size: 1.3rem;
}

h4 {
color: $grey;
font-family: Amiko, Helvetica, sans-serif;
}


p {
color: $black;
font-family: Amiko, Helvetica, sans-serif;
}

a {
	color: $purple;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: $light-blue;
}

hr {
	background-color: $black;
	border: none;
	height: 2px;

}

.white {
	color: $white;
}

.bg-dark {
	background-color: $dark-blue;
}

.btn-primary {
	background-color: $light-blue;
	border: none;
}

.btn-primary:hover {
	background-color: $dark-blue;
}

.section-title {
	margin-bottom: 1.5rem;
}